*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.container{
    background-color:rgba(255, 255, 255, 0.616);
    width: 40%;
    height: 70vh;
    padding: 13px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    top: 13vh;
    left: 29%;
    box-shadow: 5px 5px 20px #ffffff;
}
nav a{
    text-decoration: none;
    margin-left: 25px;
    font-family:monospace;
    color:rgba(0, 0, 0, 0.767);
    font-size: 17px;
    transition: all 0.3s linear;
}
a:hover{
    font-weight: bold;
    text-decoration: underline;
    color:rgb(54, 52, 52);
}
.headers{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content{
    display: flex;
    justify-content:space-evenly;
    position: relative;
    top: 18vh;   
}
.info{
    font-size: 30px;
    font-family: 'Trochut', cursive;
    font-weight: bold;
}
#picture{
    width: 150px;
    height: 155px;
    position: relative;
    bottom: 50px;
    border-radius: 100px;
    transition: all 0.2 linear;
}
#picture:hover{
    transform: rotate(2deg);
}
.social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    margin-top: 50px;
    
}
.more{
    font-size: medium;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 175px;
    top: 110px;
}
.icons{
    position: relative;
    top: 25px;
    right: 10px;
}
.logo{
    color: navy;
    margin-left: 20px;
    transition: all 0.3s linear;
}
.logo:hover{
    color:rgb(155, 155, 248);
    font-size: medium;
}
.about{
    background-color:rgba(255, 255, 255, 0.616);
    width: 40%;
    height: 70vh;
    padding: 13px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    top:40vh;
    left: 29%;
    box-shadow: 5px 5px 20px #ffffff;
}
.abt_me{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 25px;
    margin-top: 25px;
}
.wlcm{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    color: rgb(1, 38, 53);
    position: relative;
    top: 5vh;
    margin-left: 25px;
}
.abt_me_content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 5px;
    color: rgb(133, 10, 10);
    position: relative;
    top: 7vh;
    margin-left: 25px;
    margin-top: 15px;
}
.more1{
    font-size: medium;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 36%;
    top: 28vh;
}
.social_media1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25vh;
    left: 15px;
    margin-top: 20px;
}

#about_id:target{
    display: block;
    background-color:rgba(255, 255, 255, 0.616);
}
#home_id:target{
    display: flex;
}
.skills
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 65vh;
    left: 60vh;
    background-color:rgba(255, 255, 255, 0.616);
    width: 40%;
    height: 70vh;
    padding: 13px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 5px 20px #ffffff;
    
}
.skill_heading{
    font-size:x-large;
    font-weight: 10px;
    position: relative;
    bottom: 25vh;
    left: 32vh;
}
.front_end{
    font-size: x-large;
    position: relative;
    top: 70px;
    right: 15vh;
    line-height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}
.back_end{
    font-size: x-large;
    position: relative;
    top: 70px;
    right: 7vh;
    line-height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}
.back_end i{
    position: relative;
    bottom:8vh ;
}
.back_end p{
    position: relative;
    bottom:20px ;
}
.tools{
    font-size: x-large;
    position: relative;
    top: 70px;
    line-height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}
.tools i{
    position: relative;
    bottom: 5vh;
}
.front_end,.back_end,.tools, p i{
    color: navy;
}
.contact{
    background-color:rgba(255, 255, 255, 0.616);
    width: 40%;
    height: 70vh;
    padding: 13px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    top:90vh;
    left: 29%;
    box-shadow: 5px 5px 20px #ffffff;
}
.contact form{
    margin-top: 50px;
    margin-left: 20px;
}
legend{
    font-size: x-large;
    color: rgba(0, 0, 0, 0.781);
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
fieldset{
    width: 40vh;
}
label{
    line-height:95px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;

}
#name,#email,#msg{
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    transition: all 0.3s linear;
}
::placeholder{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#name:hover,#email:hover,#msg:hover{
    border-bottom:2px solid rgb(128, 128, 238);
    transition: all 0.3s linear;
}
#submit,#reset{
    font-size:large ;
    text-align: center;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 255, 0.596);
    color: white;
    position: relative;
    left: 0vh;
    margin-left: 40px;
    margin-bottom: 10px;
    border: navy;
}
#submit:hover,#reset:hover{
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    color:rgba(0, 0, 255, 0.596); 
    cursor: pointer;
}

.contact_info{
    position: relative;
    bottom:40vh ;
    left:38vh ;
}
.call_us,.mail,.location{
    display: flex;
    position: relative;
    left: 10vh;
    margin-top: 30px;
    cursor: pointer;
}
.call_us,.mail,.location, p{
    margin-left: 10px;
    font-family:sans-serif;
    font-weight: bold;
}
.call_us,.mail,.location, i{
    font-size: medium;
}
.dm{
    position: relative;
    left: 15vh;
    margin-top: 60px;
    font-weight: bold;
    cursor: pointer;
}
.dm i{
    font-size: larger;
    margin-left: 15px;
    color: rgb(50, 13, 85);
}

#skill_id:target{
    display: flex; 
}
#contact_id:target{
    display:  block;
}